html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-height: 30em;
}

h2 {
  color: #000;
}

a {
  color: #3783a3;
}

.button {
  border: .2rem solid #3783a3;
  border-radius: .3rem;
}

.top {
  text-align: center;

}

li {
  display: flex;
  display: grid;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
